/*Ini File CSS*/

.logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #666;
}

.slogan {
    font-style:italic;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #ccc;
}

.hero h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero .slogan {
    font-size: 16px;
    color: black;

}

.headquarters {
    padding-top: 1px;
    padding-bottom: 50px;
    text-align: center;
}

.headquarters h2 {
    margin-bottom: 10px;
}

.headquarters .locations {
    display: flex;
    justify-content: center;
    gap: 20px;
}

figure {
    background-color:#ccc;
    border: thin black solid;
    display: flex;
    flex-flow: column;
    max-width: 250px;
    margin: auto;
    font-size: 18px;
    font-weight: bold ;
}

.headquarters .location {
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-us {
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.message-us form {
    max-width: 600px;
    margin: 0 auto;
}

.message-us form input,
.message-us form textarea,
.message-us form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer {
    font-size: 10px;
    text-align: center;
    padding: 1px;
    background-color:#e6dddd;
    border-top: 1px solid #ddd;
}
